{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<title>UgCon - Do activities in Uganda while outside Uganda </title>
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
		<link rel='stylesheet' href={% static 'css/all.min.css' %} />
		<link rel='stylesheet' href={% static 'css/styler.css' %} />
		<link rel='stylesheet' href={% static 'css/style1.css' %} />
		<!--Add in the meta data -->
		<meta name="author" content="UgCon - Remote Activity in Uganda"
		{% block metaData %}

		{% endblock metaData %}

	</head>
	<body class="bg-mg2">
	<nav class="navbar navbar-expand-sm navbar-light bg-greysan sticky-top">
		<text class=" h3 text-light" href="#"><img src="{% static 'images/ugconn.png' %}" height=35 width=35 class="rounded-circle" alt="ugcon logo">&nbsp UgCon &nbsp &nbsp</text>
		<button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-light"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="btn text-light" href="{% url 'flashcards:activity' %}"><i class="fas fa-toolbox    "></i> Activity</a>&nbsp
				</li>
				<li>
					<a class="btn text-light" href="{% url 'flashcards:ugbus' %}"><i class="fas fa-newspaper    "></i> UgBusiness</a>&nbsp
				</li>
				<li>
					<a class="btn text-light" href="{% url 'flashcards:connect' %}"> <i class="fa fa-comment" aria-hidden="true"></i> Connect</a>&nbsp
				</li>
				<li>
					<a class="btn text-light" href="{% url 'flashcards:home'%}"><i class="fas fa-info-circle    "></i> About</a>&nbsp
				</li>
			</ul>
			{% if request.user.is_staff %}
				<a class="text-light btn btn-outline-light"  href="" >Staff-Corner</a>
			{% endif %}
			{% if request.user.is_authenticated %}
			<a class="text-light btn btn-outline-light"  href="{% url 'logout'%}" >Logout</a>
			{% else %}
			<a class="text-light btn btn-outline-light"  href="{% url 'home'%}" >Sign in</a>
			{% endif %}
		</div>
	</nav>


	<div class='row' style="margin-left:1px;margin-right:1px">
	<!-- Creating the Dashboard-->
	<div class='col bg-greysan h-100 d-none d-md-block set-pos padding' style="max-width:240px">
	<p class='lead text-center'> DASHBOARD</p>
	{% if request.user.is_authenticated %}
		<p class="text-center">{{request.user|upper}}</p>
		<p class="text-center">{{request.user.email}}</p>
		<hr color="white">
		<a class ='btn btn-light btn-block' href={% url 'flashcards:myactivity'%}>My Activity</a>
		<a class="btn btn-light btn-block" href="{% url 'flashcards:grievances'%}">My Grievances</a>
		{% else %}
		<p><em>Please sign-in to access full functionality</em></p>
		<hr color="white">
	{% endif %}
		<a class="btn btn-light btn-block" href={% url 'flashcards:contactugc'%}>Contact UgConn</a>
		<a class="btn btn-light btn-block" href={% url 'flashcards:contactdev'%}>Contact Developer</a>
		<a class="btn btn-light btn-block" href="{% url 'flashcards:apps' %}">Download Apps</a>
		<hr>
		<table>
		<tr>
		<th><i class="fab fa-facebook  h1 text-light "></i> </th>
		<th> <i class="fab fa-instagram h1 text-light" aria-hidden="true"></i> </th>
		<th> <i class="fab fa-twitter h1 text-light" aria-hidden="true"></i></th>
		</tr>
		</table>

	</div>

	<!--Creating the main body area-->
	<div class='col h-100' style="margin-top:5px;">
    {% block sidepanel %}
    {% endblock %}
	</div>
	</div>

	{% block scriptj %}
	{% endblock %}
	<script type='text/javascript' src= {% static 'js/fontawesome/all.min.js' %}></script>
    <script type='text/javascript' src= {% static 'js/jquery-3.5.1.min.js' %}></script>
    <script type='text/javascript' src= {% static 'js/popper/popper.min.js' %}></script>
    <script type='text/javascript' src= {% static 'js/glm-ajax.js' %}></script>
    <script type='text/javascript' src= {% static 'js/bootstrap.min.js' %}></script>
</body>
</html>