{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>UgCon</title>
		<link rel='stylesheet' href={% static 'css/style1.css' %} />
	</head>
	<body>
    <div class='sidepanel'>
    <p>Register here to access UgCon services</p>
    <hr>
    <form method='POST'>
    {% csrf_token %}
    <table>
        <tr>
            <td>First Name:</td><td><input type='text' name='fname' required></td>
        </tr>
        <tr>
            <td>Surname:</td><td><input type='text' name='sname' required></td>
        </tr>
        <tr>
            <td>Username:</td><td><input type='text' name='uname' required></td>
        </tr>
        <tr>
            <td>Email:</td><td><input type='email' name='email'required></td>
        </tr>
        <tr>
            <td>Password</td><td><input type='text' name='pswd' required></td>
        </tr>
        <tr>
            <td>Re-enter Password</td><td><input type='text' name='rpswd' required></td>
        </tr>
        <tr>
            <td><button class='button2'>Register</button></td>
        </tr>
    </table>
    </form>
    <div>
    </body>
</html>