{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>UgCon</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
    <link rel='stylesheet' href={% static 'css/all.min.css' %} />
    <link rel='stylesheet' href={% static 'css/styler.css' %} />
    <link rel='stylesheet' href={% static 'css/style1.css' %} />
</head>

<body>
    <br>
    <div align=center>
        <div class='form-out-max padding rounded bg-greysan' align=center><br>
            <h3 class="text-center text-light">BUY EQUIPMENT</h3>
            <hr>
            <form method='POST' class="form-max rounded padding">
                {% csrf_token %}
                <label class="text-light">Project Name:</label>
                <input type='text' class='form-control' placeholder='Name of project ' name='project_name' required>
                <label class="text-light">Name of item:</label>
                <input type='text' class='form-control' placeholder='Name of item ' name='item' required>
                <label class="text-light">Quantity:</label>
                <input type='text' class='form-control' placeholder='eg (30 metallic doors)' name='quantity' required>
                <label class="text-light">Quality:</label>
                <input type='text' class='form-control' placeholder=' eg (All new and well furnished)' name='quality'>
                <label class="text-light">Target Person:</label>
                <input type='text' class='form-control' placeholder='can be person or business' name='target_p' required>
                <label class="text-light">Target Location:</label>
                <input type='text' class='form-control' name='target_l' required>
                <label class="text-light">Target Contact:</label>
                <input type='text' class='form-control' name='contact' required>
                <label class="text-light" align=top>Notes:</label>
                <textarea cols=50 rows=5 class='form-control' placeholder="Describe your activity in more detail ... " name='notes' required></textarea>
                <br>
                <button class='btn bg-brownish'>Create Activity <i class="fa fa-plus" aria-hidden="true"></i></button>
                <input type="hidden" name="next" value="{{ request.path }}">
            </form>
            <br>
            <h4 class='text-center'>BRIEFING</h4>
            <p>One can order a set of equipment to be brought to a specific place or person. One should note that the transport-fare is to be charged on him or her.</p>
        </div>
    </div>
</body>

</html>