{% extends "base.html" %} {% load static %} {% block sidepanel %}
<div class="b-centric">
    <div class="bg-white padding rounded" style="min-width:270px; margin-top:10px;">
        <br><br>
        <h5 style="font-family: rublik; text-brown">COMING SOON</h5>
        <br><br>
        <lottie-player src="{% static 'assets/lotties/61237-website-design-lottie-animation.json' %}" background="#ffffff" speed="1" style=" max-width: 550px; max-height: 550px;" loop autoplay></lottie-player>
    </div>
</div>
{% endblock %}