{% extends "base.html" %} {% block sidepanel %}
<div class="w-100 padding rounded h-100">
    <div class="bg-white">
        <p class="text-center padding h4">Contact Our Developers</p>
        <br>
        <div class="bg-white padding rounded">
            <div class="row">
                <div class="col" align="center">
                    <div class="brown-shadow bg-brown padding rounded" style="margin: 5px;width:230px" align="center">
                        <br>
                        <i class="fa h2 text-brown fa-phone-alt" aria-hidden="true"></i>
                        <br><br>
                        <a class="btn bg-greysan" style="width:200px" href="tel:+256788523469">+256 788 5234569</a>
                    </div>
                    <br>
                </div>
                <div class="col" align="center">
                    <div class="brown-shadow padding rounded bg-brown" style="margin: 5px;width:230px" align="center">
                        <br>
                        <i class="fa social-red fa-envelope h2" aria-hidden="true"></i>
                        <br>
                        <br>
                        <a class="btn bg-greysan" style="width:200px" href="mailto:mubosoft41@gmail.com">mubosoft41@gmail.com</a>
                    </div>
                    <br>
                </div>
                <div class="col" align="center">
                    <div class="brown-shadow bg-brown padding rounded" style="margin: 5px;width:230px" align="center">
                        <br>
                        <i class="fas text-primary fa-globe  h2  "></i>
                        <br><br>
                        <a class="btn bg-greysan" style="width:200px" href="https://www.wilsen.pythonanywhere.com">Visit Website</a>
                    </div>
                    <br>
                </div>
                <div class="col" align="center">
                    <div class="brown-shadow padding bg-brown rounded" style="margin: 5px;width:230px" align="center">
                        <br>
                        <i class="fab h2 social-blue fa-facebook-f    "></i>
                        <br><br>
                        <a class="btn bg-greysan" style="width:200px" href="https://www.wilsen.pythonanywhere.com">Facebook Page</a>
                    </div>
                    <br>
                </div>
                <div class="col" align="center">
                    <div class="brown-shadow padding rounded bg-brown" style="margin: 5px;width:230px" align="center">
                        <br>
                        <i class="fab h2 text-primary fa-twitter    "></i>
                        <br><br>
                        <a class="btn bg-greysan" style="width:200px" href="https://www.wilsen.pythonanywhere.com">Twitter</a>
                    </div>
                </div>
                <div class="col" align="center">
                    <div class="brown-shadow padding bg-brown rounded" style="margin: 5px;width:230px;" align=center>
                        <br>
                        <i class="fab h2 social-pink fa-instagram    "></i>
                        <br><br>
                        <a class="btn bg-greysan" style="width:200px" href="https://www.wilsen.pythonanywhere.com"> Instagram </a>
                    </div>
                </div>
                <div class="col" align="center">
                    <div class="brown-shadow padding bg-brown rounded" style="margin: 5px;width:230px;" align="center">
                        <br>
                        <i class="fab social-red h2 fa-youtube    "></i>
                        <br><br>
                        <a class="btn bg-greysan" style="width:200px" href="https://www.wilsen.pythonanywhere.com">Youtube</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="padding" style="max-width: 400px;background-color:#EEEEEE">
            <h6>Physical Location:</h6>
            <small class="text-muted">Along Sir Apollo Kaggwa Road Kikoni, Kampala, Uganda.</small><br>
            <small class="text-muted">We have note yet gotten a permanent location for our offices but for the meantime, we are still operating here.</small>
            <hr color="brown">
            <br>
        </div>


    </div>

    {% endblock %}