{% extends "base.html" %} {% block sidepanel %}
<div class="bg-white padding">
    <h4 style="font-family: lato-bold;" class="text-center text-brown">My Projects</h4>
    {% if projects %}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for project in projects %}
        <div class="col" align="center">
            <a class="text-decoration-none text-light" {% if project.is_active %} href="" {% endif %}>
                <div data-aos="zoom-in" class="padding {% if project.is_active %} glow-card{% endif %} border border-dark rounded" style="margin: 10px; width:250px; height:290px">
                    <div style="height: 230px;overflow:hidden">
                        <h5 style="font-family: rublik;" class="text-brown">{{project.name}}</h5>
                        <hr color="darkblue" width="100">
                        <p style="font-family: lato; font-size:0.95em;" class="text-left text-brown">{{project.notes|truncatewords:60|linebreaksbr}}</p>
                    </div>
                    <div class="bg-greysan text-light" style="height: 60px;border-radius:20px;">
                        <small class="text-light">Stage:

                            {% if project.is_active %}
                              <a class="text-primary">active</a>
                              {% else %}
                              <a class="text-success">pending</a>
                            {% endif %}
                        </small><br>
                        <small class="text-light">
                            {% if project.agent %}
                              Agent: &nbsp<text style="color:lightblue">{{project.agent.first_name}} {{project.agent.last_name}}</text>
                            {% else %}
                              No agent assigned yet
                            {% endif %}
                        </small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div align="center">
        <h4 style="font-family: lato">Nothing here yet</h4>
        <p>Your requested and ongoing activities appear here. You currently have no activities created ...</p>
        <br><br> {% load static %}
        <lottie-player src="{% static 'assets/lotties/27486-empty-state-notifications.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; height: 300px;" loop autoplay></lottie-player>
    </div>
    {% endif %}

</div>

{% endblock %}