{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>UgCon</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
    <link rel='stylesheet' href={% static 'css/all.min.css' %} />
    <link rel='stylesheet' href={% static 'css/styler.css' %} />
    <link rel='stylesheet' href={% static 'css/style1.css' %} />
</head>

<body class='bg-mg2'>
    <div align='center'><br>
        <div class='bg-greysan padding rounded form-out-max'>
            <h3 class="text-center text-light">MAKE PAYMENTS</h3>
            <hr>
            <form method='POST' class="form-max rounded padding">
                {% csrf_token %}
                <label class="text-light">Project Name:</label>
                <input class='form-control' type='text' placeholder="Name of project" name="project_name" required>
                <label class="text-light">Type of payment:</label>
                <SELECT class="form-control" NAME="type"> <OPTION value= "Pay Bills">Bills</OPTION> <OPTION SELECTED value="Pay Salary"> Salary</OPTION><OPTION SELECTED value="Pay Fees"> Tuition and school fees</OPTION><OPTION value="Other">Others (Specify in Description) </OPTION> </SELECT>
                <label class="text-light">Amount:</label>
                <input class="form-control" type='text' placeholder='eg. (Ugsh. 1000,000)' name='amount' required>
                <label class="text-light">Target Person/Organisation:</label>
                <input class="form-control" type="text" name="receiver" required>
                <label class="text-light">Contact of Person/Organisation:</label>
                <input class="form-control" type="text" name="contact" required>
                <label class="text-light">Payment Plan:</label><br>
                <small class='text-muted'>For those who have a payment plan (optional)</small>
                <div class="custom-file">
                    <input type="file" accept="images/*, .pdf, .doc, .docx" class="custom-file-input" name='payplan' id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <label class="text-light">Description:</label>
                <textarea class="form-control" name='notes' placeholder="Describe your activity in brief. We shall get more information after assigning you an agent ... (Specify the person's contact and location)" cols=50 rows=5 required></textarea><br>
                <button class='btn bg-brownish'>Create Activity <i class="fa fa-plus" aria-hidden="true"></i></button>
            </form>
            <br>
            <h4 class="text-center">BRIEFING</h4>
            <p class='text-justify'>This module enables you to pay bills or make other payments remotely in case one lacks a means in which to do so. UgCon provides you with an agent to manage and follow up your payment plan. Transparency is key; meaning you get to follow up
                on every step. It should be noted that such activities take time as UgCon has to consider the agent to use or get someone else in a process of 1 to 2 weeks from initialization.</p>
        </div>
    </div>
</body>

</html>