{% extends "base.html" %} {% block sidepanel %}
<div class=" padding rounded">

    <p class="lead text-center text-light bg-greysan padding rounded">FOLLOW THE STATE OF UGANDA THROUGH EYES OF INSIDERS</p>
    <hr> {% if request.user.is_superuser %}
    <form class='form-max form-group bg-greysan padding rounded text-white' method='POST'>
        {% csrf_token %} {{ form.as_table }}
        <button class="btn bg-brownish">POST UPDATE</button>
    </form>
    <br><br> {% endif %}


    <div>
        {% if my %} {% for action in my %}
        <div data-aos="fade-left" class="bg-white padding glow-card border border-dark rounded">
            <small style="color:maroon;"><a class="text-navy">{{action.author}}</a> posted about <a class="text-navy">{{action.about}}</a> on <a class="text-primary">{{ action.date_as_is }}</a> </small>
            <hr>
            <h5 style="color:blue;"> {{action.title}}</h5>
            <small class="text-justify"> {{action.notes|truncatewords:75}}</small><br> {% if request.user.is_staff %}
            <button class="btn bg-greysan"><a class="text-light text-decoration-none" href="{{action.site}}" >Delete Article <i class="fas fa-broom    "></i></a></button> {% endif %}
            <button class="btn bg-greysan"><a class="text-light text-decoration-none" target="_blank" href="{{action.site}}" >Follow Article <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></button>
        </div>
        <br> {% endfor %} {% else %}
        <div align="center">
            <h4 style="font-family: lato">Nothing here yet</h4>
            <p>We always look out for guiding articles for you as you start your activities in Uganda. All these articles appear here.</p>
            <br><br> {% load static %}
            <lottie-player src="{% static 'assets/lotties/27486-empty-state-notifications.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; height: 300px;" loop autoplay></lottie-player>
        </div>
        {% endif %}
        <div class="pagination bg-white padding">
            <span class="step-links">
        {% if my.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ my.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ my.number }} of {{ my.paginator.num_pages }}.
        </span> {% if my.has_next %}
            <a href="?page={{ my.next_page_number }}">next</a>
            <a href="?page={{ my.paginator.num_pages }}">last &raquo;</a> {% endif %}
            </span>
        </div>
    </div>
    {% endblock %}