th {
    width: 40%;
    height: 35px;
    border-radius: 10px;
}

select {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px
}

textarea {
    width: 90%;
    height: 120px;
    border-radius: 5px;
    padding-left: 10px
}

input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px
}

form {
    box-shadow: 0 0px 8px 0 rgba(198, 163, 163, 0.4);
}

.button2 {
    background-color: aliceblue;
    font-size: 1.2em;
    color: black;
    width: 350;
    border-radius: 5px;
}

.glow-card {
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.774);
    transition-duration: 400ms;
}

.glow-card:hover {
    box-shadow: 0 6px 12px 0 rgba(32, 9, 9, 0.657);
    filter: grayscale(60%)
}

img {
    border-radius: 5px 5px 0 0;
}

.glow-row {
    margin: 0 -5px;
}

.glow-row:after {
    content: "";
    display: table;
    clear: both;
    filter: grayscale(30%)
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    border-radius: 5px;
    float: left;
    width: 25%;
    padding: 16px;
    color: rgb(8, 8, 8);
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
    color: rgb(7, 6, 6);
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    border-radius: 5px;
    float: left;
    width: 25%;
    padding: 16px;
    color: rgb(8, 8, 8);
}

.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
    color: rgb(7, 6, 6);
}

#chat_log {
    width: 40%;
}

.article {
    background-color: aliceblue;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(176, 208, 228, 0.4);
}