.intro {
    max-width: 800px;
    min-width: 200px;
    text-align: center;
    border-bottom-color: #2f4f4f;
}

@font-face {
    font-family: lato-bold;
    src: url(Lato-Bold.ttf);
}

@font-face {
    font-family: rublik;
    src: url(rubik.ttf)
}

@font-face {
    font-family: balsamiq;
    src: url(balsamiq.ttf)
}

@font-face {
    font-family: lato;
    src: url(Lato-Light.ttf)
}

.bg-rocket {
    background-image: url(rocket.jpg);
    /*background-color: rgb(252, 171, 171);
    background-blend-mode: screen;*/
    background-attachment: scroll;
}

.img-grad {
    background: radial-gradient(cyan 0%, transparent 20%, salmon 40%);
}

.commented {
    max-width: 400px;
    background-color: rgba(246, 175, 108, 0.557)
}

.bg-brown {
    background-color: rgba(239, 194, 173, 0.231);
}

.padding {
    padding: 10px;
}

.padding-5 {
    padding: 4px
}

.fixed {
    position: fixed;
}

.login_form {
    background-color: #2f4f4f;
    max-width: 800px;
    min-width: 300px;
    min-height: 200px;
    max-height: 400px;
    padding: 10px;
    border-radius: 10px;
}

.sub-padding {
    padding: 5px;
}

.social-blue {
    color: darkblue;
}

.social-red {
    color: rgb(172, 16, 16)
}

.social-pink {
    color: palevioletred;
}

.navy-blue-bg {
    color: white;
    background-color: rgb(1, 23, 32);
}

.angry-face {
    color: rgb(134, 35, 56);
}

.text-brown {
    color: rgb(88, 44, 5);
}

.page-footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    font-size: 11px;
    background-color: rgba(1, 28, 32, 0.884);
}

.text-desc {
    font-size: 13px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/* Creating the mesaging box*/

.msg-container {
    max-width: 700px !important;
    margin: auto;
    margin-top: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}

.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    display: inline-block;
    background-color: #007bff;
    border-bottom: none;
}

.msg-header-img {
    border-radius: 50;
    width: 40px;
    margin-left: 2%;
    margin-top: 12px;
    float: left;
}

.active {
    font-size: 12opx;
    float: left;
    margin-top: 10px;
}

.active h4 {
    font-size: 20px;
    margin-left: 15px;
    color: #fff;
}

.active h6 {
    font-size: 10px;
    margin-left: 15px;
    line-height: 2px;
    color: #fff;
}

.header-icons {
    width: 80px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.chat-container {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid brown;
    overflow: hidden;
    padding-bottom: 30px;
}

.chats {
    padding: 30px 15px 0 25px
}

.msg-page {
    height: 512px;
    overflow-y: auto;
}

.received-chats {}

.received-chats-img {
    display: inline-block;
    width: 20px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
}

.received-msg-inbox {
    max-width: 87%;
}

.form-max {
    max-width: 450px;
}

.form-out-max {
    max-width: 500px;
}

.received-msg-inbox p {
    background: rgb(135, 30, 30) none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 15px 10px 5px 12px;
    width: 100%;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-msg {
    float: left;
    max-width: 87%;
    margin-left: 20%;
}

.outgoing-msg p {
    background: rgb(61, 3, 61) none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing-chats-img {
    display: inline-block;
    width: 20px;
    float: right;
}

.time {
    color: #777;
    display: block;
    margin: 8px 0 0;
    font-size: 12px;
}

.tpi {
    color: #dbe9e9;
    cursor: pointer;
    margin: 10px;
    vertical-align: top;
    width: 92%;
}

.msg-bottom {
    position: relative;
    height: 10%;
}

.input-group {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
}

.form_control {
    border: none;
    border-radius: 20px !important;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
}

.msg-bottom-icons {
    float: left;
    margin-top: 17px;
    width: 30% !important;
    margin-left: 22px;
}

.input-group .fa {
    color: #fff;
    float: right;
}

.msg-container .fa {
    color: #fff;
    padding: 5px;
}

.form_control:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
}


/*End of the box*/

.three {
    max-width: 450px;
    min-width: 300px;
}

blockquote {
    max-width: 500px;
    min-width: 200px;
    color: #2f4f4f;
}

figcaption {
    display: inline-block;
}

th {
    width: 180;
    padding: 10px;
    height: 35px;
}

.bg-greysan {
    background-color: rgb(39, 17, 17);
    color: white;
}

.bg-brownish {
    background-color: rgba(255, 244, 244, 0.999);
}

.bg-purple {
    background-color: rgba(231, 121, 121, 0.374);
}

.bg-mg1 {
    background-image: url('interior.jpg');
    background-color: rgb(6, 12, 28);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: screen;
}

.fit-image {
    object-fit: cover;
}

.set-pos {
    position: sticky;
    top: 60px;
}

.bg-mg-phone {
    background-image: url('mobApp.png');
    background-position-x: center;
    background-repeat: no-repeat;
    color-adjust: rgba(255, 255, 255, 1)
}

.btn-width1 {
    width: 600px;
}

.bg-mg2 {
    background-image: url('cross-world.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.scroll_at {
    height: 600px;
}

.text-navy {
    color: rgb(1, 28, 32);
}

.text-thick-line {
    text-decoration: underline solid brown 5px;
}

.text-indent {
    text-indent: 20px;
}

.text-greensan {
    color: rgb(80, 80, 230);
}

.item_mid {
    margin-top: 10%;
}

.newsbox {
    border-style: solid;
    border-color: #759b9b;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    border-width: 1px;
    background-color: #dbe9e9;
}

.newsbody {
    border-style: solid;
    border-color: #759b9b;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #dbe9e9;
    border-width: 1px;
}

.img-center {
    image-rendering: auto;
    image-orientation: flip;
}

.img-obj1 {
    position: relative;
    text-align: center;
    color: white;
}

.img-text1 {
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
}

.glow {
    font-size: 80px;
    color: #dbe9e9;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.box-shade {
    box-shadow: 0 0 0px 4px rgba(31, 26, 26, 0.16);
}

.scroll-3::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(89, 72, 72);
}

.scroll-3::-webkit-scrollbar-thumb {
    margin: 3px;
    background-color: #eee;
    border-radius: 5px;
}

.scroll-3::-webkit-resizer {
    width: 20px;
    height: 20px;
}

.text-lightblue {
    color: rgb(145, 195, 211);
}

.b-centric {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-blue {
    color: rgb(70, 197, 239);
}

.b-r-10 {
    border-radius: 10px;
}

.box-margin {
    margin: 7px;
}

.ridge-border {
    border-color: brown;
    border-width: 2px;
    border-radius: 5px;
    border-style: ridge;
}

.brown-shadow {
    box-shadow: 0px 0px 2px 1px rgba(43, 8, 8, 0.774);
}

.brown-shadow-hover {
    box-shadow: 0px 0px 2px 1px rgb(43, 8, 8);
}

.brown-shadow-hover:hover {
    box-shadow: 0px 0px 3px 2px rgb(43, 8, 8);
}

.toggler {
    position: fixed;
    top: 5vh;
    color: brown;
    background-color: #eeeeee;
    padding: 10px;
    z-index: 1;
    border-radius: 7px;
}

.toggler-sm {
    position: fixed;
    top: 5vh;
    color: brown;
    background-color: #eeeeee;
    padding: 10px;
    z-index: 1;
    border-radius: 7px;
    display: none;
}

.profile-pic {
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.preview-head {
    padding: 3px;
    height: 45px;
    color: wheat;
    font-family: rublik;
}

.preview-body {
    border: 1px ridge rgba(72, 11, 11, 0.27);
    /*background-color: rgba(239, 232, 232, 0.288);*/
    background-color: white;
    border-radius: 5px;
    font-family: 'lato';
    padding: 3px;
    height: calc(94vh - 120px);
    overflow-y: scroll;
}

#users_list {
    background-color: rgb(72, 11, 11);
    color: wheat;
    border-color: #007bff;
    font-size: 0.8rem;
}

datalist option {
    background-color: black;
    color: white;
}

.preview-box {
    position: fixed;
    z-index: 2;
    background-color: rgb(17, 16, 16);
    opacity: 100%;
    box-shadow: 0px 0px 4px 2px rgb(72, 11, 11);
    max-width: 320px;
    min-width: 250px;
    padding: 10px;
    transform: scale(.85);
    top: 3vh;
    right: 3vw;
    height: 94vh;
    transition: all 500ms ease;
    border-radius: 10px;
    display: none;
}

.preview-box:hover {
    background-color: rgb(19, 18, 18);
    cursor: pointer;
    transition: all 500ms ease;
    transform: scale(1);
}

.preview-body :hover {
    background-color: whitesmoke;
    transition-duration: 500ms;
}

#wrapper {
    display: flex;
}

#sidepanel {
    width: 255px;
    transition-timing-function: ease;
    transition-duration: 500ms;
}

#mainbar {
    flex: 1;
    transition-timing-function: ease;
    transition-duration: 500ms;
}

.long-container {
    display: flex;
    overflow-x: scroll;
}

.long-container a {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(39, 17, 17);
    color: #fff;
    transition-duration: 400ms;
}

.long-container a:hover {
    border: 1px rgb(39, 17, 17) ridge;
    color: rgb(39, 17, 17);
    background-color: #fff;
    text-decoration: none;
}

@media only screen and (max-width:550px) {
    .responsive-panel {
        display: none;
    }
}


/*@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0, 0, 0 30 px #e60073, 0, 0, 0 40 px #e60073, 0, 0, 0 50 px #e60073, 0, 0, 0 60 px #e60073 0, 0, 0 70 px #e60073
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0, 0, 0 40 px #ff4da6, 0, 0, 0 50 px #ff4da6, 0, 0, 0 60 px #ff4da6, 0, 0, 0 70 px #ff4da6 0, 0, 0 80 px #ff4da6
    }
}
*/