{% extends "base.html" %}

{% block sidepanel %}
<div class="bg-brown padding rounded">
<p class='text-center lead bg-greysan padding rounded text-light'>CREATE ACTIVITY</p>
<hr>
    {% if reply %}
   <div class="alert alert-primary alert-dismissible fade show" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           <span class="sr-only">Close</span>
       </button>
       <strong>Thank you, {{request.user}}, for using Ugcon. </strong> {{reply}}
   </div>
    {% else %}
    {% endif %}
<div class='row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4'>
    <div class='col mb-4'>
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:investmoney' %}>
        {% load static %}<img src="{% static "images/invest.jpg" %}"  class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="card-title text-center"  style='color:maroon;'>Create Investment</p>
            <hr>
            <p  class="text-dark">Startup an Investment with our business experts.</p>
        </div>
    </a>
    </div>
    </div>

    <div class='col mb-4'>
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:donatemoney' %}>
        {% load static %}<img src="{% static "images/donate.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="card-title text-center" style='color:maroon;'>Donate Money</h4>
            <hr>
            <p class='text-dark'>Donate money to an organisation or a given cause.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:buyequipment' %}>
        {% load static %}<img src="{% static "images/black.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="card-title text-center" style='color:maroon;'>Buy Equipment</p>
            <hr>
            <p class="text-dark">Buy equipment or any item for your business venture.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:buildhouse1' %}>
        {% load static %}<img src="{% static "images/buildhouse.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="text-center card-title" style='color:maroon;'>Build House</p>
            <hr>
            <p class='text-dark'>Build a house with constant feedback under supervision.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:buyhouse' %}>
        {% load static %}<img src="{% static "images/byhouse.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="card-title text-center" style='color:maroon;'>Buy House</p>
            <hr>
            <p class='text-dark'>Buy a house with our help from areas of choice.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:buyland' %}>
        {% load static %}<img src="{% static "images/bykand.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="card-title text-center" style='color:maroon;'>Buy Land</p>
            <hr>
            <p class="text-dark">Buy land with our help or other genuine sellers.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:payment' %}>
        {% load static %}<img src="{% static "images/paytry.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class="card-title text-center" style='color:maroon;'>Payments</p>
            <hr>
            <p class="text-dark">Process payments to a group of people or even business.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= {% url 'flashcards:others' %}>
        {% load static %}<img src="{% static "images/management.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class='card-title text-center' style='color:maroon;'>Other Activity</p>
            <hr>
            <p class='text-dark'>Contact us in case of anyother activity and we see a way out.</p>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card'>
    <a class="text-decoration-none" href= {% url 'flashcards:siteservices' %}>
        {% load static %}<img src="{% static "images/service.jpg" %}" class="fit-image" width=100% height= 200 alt="My image">
        <div class="card-body">
            <p class='text-center' style='color:black;'>Check Site Services</p>
            <hr>
            <p style='color:black;'>Links to other system sites for self service and parners.</p>
        </div>
    <a>
    </div>
    </div>
</div>
</div>

{% endblock %}