{% extends "base.html" %}

{% block sidepanel %}
<div class='customeractivity bg-brown padding rounded'>
<div class="bg-greysan padding rounded">
<p class='text-center lead'> DOWNLOAD OUR APPLICATIONS</p>
<hr>
<p class='text-justify'>You can download an application transfer it to your device and install it. Or if you want, you could go to your device's application market place and download the application. Aside from that, our applications are also available on the official website of Mubosoft who also happenes to be our partner and helps us develop our systems and tehnology</p>
<p>All our application have gone through testing and are able to run on their dedicated devices.</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
    <div class='col mb-4'>
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none"  href= "{% url 'flashcards:apk_download' %}">
        {% load static %}<img class="fit-image" src="{% static "images/android.gif" %}" width=100% height= 200 alt="My image">
        <div class="card-body">
            <h5 align=center style='color:maroon;'><i class="fab fa-google-play    "></i> Android</h5>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= "{% url 'flashcards:apk_download' %}">
        {% load static %}<img class="fit-image" src="{% static "images/iphone.gif" %}" width=100% height= 200 alt="My image">
        <div class="card-body">
            <h5 align=center style='color:maroon;'><i class="fab fa-app-store-ios    "></i> I-Phone</h5>
        </div>
    </a>
    </div>
    </div>

    <div class='col mb-4'>
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= "{% url 'flashcards:apk_download' %}">
        {% load static %}<img class="fit-image" src="{% static "images/windows.gif" %}" width=100% height= 200 alt="My image">
        <div class="card-body">
            <h5 align=center style='color:maroon;'> <i class="fab fa-windows    "></i> Windows PC</h5>
        </div>
    </a>
    </div>
    </div>

    <div class="col mb-4">
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= "{% url 'flashcards:apk_download' %}">
        {% load static %}<img class="fit-image" src="{% static "images/osx.gif" %}" width=100% height= 200 alt="My image">
        <div class="card-body">
            <h5 align=center style='color:maroon;'> <i class="fab fa-apple    "></i> MacBook</h5>
        </div>
    </a>
    </div>
    </div>

    <div class='mb-4 col'>
    <div class='card glow-card bg-brownish'>
    <a class="text-decoration-none" href= "{% url 'flashcards:apk_download' %}">
        {% load static %}<img class="fit-image" src="{% static "images/linux.gif" %}" width=100% height= 200 alt="My image">
        <div class="card-body">
            <h5 align=center style='color:maroon;'> <i class="fab fa-linux    "></i>  Linux</h5>
        </div>
    </a>
    </div>
    <div>
</div>
</div>
</div>

{% endblock %}