{% extends "base.html" %}

{% block sidepanel %}
<div>
<br><br>
    <form method = 'POST'>
{% csrf_token %}
    First Name: <input style='width:200px' type='text' name='fname'><br> <br>
    Surname: <input style='width:200px' type='text' name='sname'><br> <br>
    Username: <input style='width:200px' type='text' name='uname'><br> <br>
    Email: <input style='width:200px' type='email' name='email'><br> <br>
    Password: <input style='width:200px' type='password' name='pswd'><br><br>
    <input style='width:200px' type='submit' value='Submit'>
    </form>
</div>

{% endblock %}