{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>UgCon</title>
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
		<link rel='stylesheet' href={% static 'css/all.min.css' %} />
		<link rel='stylesheet' href={% static 'css/styler.css' %} />
		<link rel='stylesheet' href={% static 'css/style1.css' %} />
	</head>
	<body class="bg-mg2">
    <div align=center>
    <br>
    <div class='form-out-max bg-greysan rounded padding' align=center>
    <h3 class="text-center text-light">DONATE MONEY</h3>
    <hr>
    <form method='POST' class="form-max padding bg-greysan rounded">
    {% csrf_token %}
            <label class="text-light">Organisation/Cause:</label>
            <input class="form-control" type='text' placeholder='Name of organisation or cause (e.g Refugees)' name='org'required>
            <label class="text-light">Type:</label>
            <SELECT class="form-control" NAME="type"> <OPTION VALUE= "Phillanthropy">Phillanthropy </OPTION> <OPTION SELECTED VALUE="Research"> Research</OPTION><OPTION VALUE="Education">Education </OPTION> <OPTION VALUE="Medical">Medical </OPTION><OPTION VALUE="Opharnage">Orphanage</OPTION> <OPTION VALUE="Other">Others </OPTION> </SELECT>
            <label class="text-light">Target Location:</label>
            <input class="form-control" type='text' name='reside'required>
            <label class="text-light">Target Contact:</label>
            <input class="form-control" type='text' name='contact'required>
            <label class="text-light" align=top>Notes:</label>
            <textarea class="form-control" name='notes' cols=50 rows=5></textarea><br>
            <button class='btn bg-brownish'>Create activity <i class="fa fa-plus" aria-hidden="true"></i> </button>
    </form>
    <br>
    <h4 class="text-center">BRIEFING</h4>
    <p class='text-justify'>Ugcon has two options for its module. The first one is 'organisation'. This one specifies an organisation where one wants to donate the money. While the second one is 'cause'; where one chooses a specific cause to donate to. For the cause, UgCon creates different pools of money for donations and provides the money to organisations working on that cause or directly to the people under that cause; this is after two months of the starting of the pool. UgCon detects the option chosen by virtue of what you fill in, in the Organisation/Cause field. UgConn also welcomes funding towards the creation of an organisation to deal with this module so as to successfully take it off the company's dealings. To fund this, fill in 'UgConn Charity Fund'.</p>
    </div>
    </div>
    </body>
</html>
