{% extends "base.html" %}

{% block sidepanel %}
<br>
<div class='customeractivity bg-greysan padding rounded'>
<div class=' padding rounded' align=center>
		<p class='text-center'> GRIEVANCES</p>
		<form method="POST" class="form-max padding rounded" >
			<input type='text' class="form-control" placeholder='Title' name='title'><br>
			<input type='text' class="form-control" placeholder='What is it about' name='about'><br>
			<textarea rows="6" class="form-control" width=80% placeholder="Describe" name="description"></textarea><br>
			<button class="btn btn-primary">Submit Grievance</button>
		</form>
</div>

{% endblock %}