{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>UgCon</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
		<link rel='stylesheet' href={% static 'css/all.min.css' %} />
		<link rel='stylesheet' href={% static 'css/styler.css' %} />
		<link rel='stylesheet' href={% static 'css/style1.css' %} />
	</head>
	<body class='bg-mg2'>
     <div align=center>
      <br>
    <div class='bg-greysan form-out-max padding rounded' align=center>
    <p class="text-center text-light h3">CREATE INVESTMENT</p>
    <hr>
    <form method='POST' class="form-max rounded padding" >
    {% csrf_token %}
            <label class="text-light">Investment Name:</label>
            <input class='form-control' type='text' name='title' placeholder='give your investment a name' required>
            <label class="text-light">Activity:</label>
            <SELECT class="form-control" NAME="activity"> <OPTION VALUE= "Agriculture">Agriculture </OPTION> <OPTION SELECTED VALUE="Trade/service"> Trade/service </OPTION><OPTION VALUE="Manufacturing">Technology </OPTION> <OPTION VALUE="Other">Others </OPTION> </SELECT>
            <label class="text-light" align=top>Notes:</label>
            <textarea class="form-control" cols=50 name='notes' rows=5></textarea><br>
            <button class='btn bg-brownish'>Create Activity <i class="fa fa-plus" aria-hidden="true"></i></button>
    </form>
    <br>
    <h4 class="text-center" >BRIEFING</h4>
    <p class='text-justify'>Ugcon has got its set of agents who are experts in the various fields of business. When you fill in the above information, we receive it at our control center. From there we, we can assign you the best agent to start up your investment venture. As a way of sustaining this service, we charge a small fee per step. However, the initial steps are free and all the money to be used will be well documented for you. UgCon receives the money to start the venture through a link that will be provided for you the moment you are assigned an agent. Please, avoid giving money to any of our agents directly.</p>
    </div>
    </div>
    </body>
</html>
