{% extends "base.html" %}

{% block sidepanel %}
<div class='customeractivity'>
<p> A list of My Activities</p>
<table width=80%>
<td>
<SELECT NAME="type" class='button2' > <OPTION VALUE= "investmoney">Investment</OPTION> <OPTION SELECTED VALUE="donatemoney"> Donate Money</OPTION><OPTION VALUE="buyitem">Buy Equipment</OPTION> <OPTION VALUE= "buildhouse">Build House</OPTION> <OPTION VALUE= "buyhouse">Buy House</OPTION> <OPTION VALUE= "buyland">Buy Land</OPTION> <OPTION VALUE= "feesandbills">Payment</OPTION> <OPTION VALUE= "others">Other Activity</OPTION> </SELECT></td><td>
<button class='button'><a href=''>Choose</a></button></td>
</table>
</div>

{% endblock %}