{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>UgCon</title>
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
		<link rel='stylesheet' href={% static 'css/all.min.css' %} />
		<link rel='stylesheet' href={% static 'css/styler.css' %} />
		<link rel='stylesheet' href={% static 'css/style1.css' %} />
	</head>
	<body class='bg-mg2'>
    <br>
    <div class='container bg-greysan padding rounded form-out-max' align=center>
    <br>
    <h3 class="text-center text-light">OTHER ACTIVITY</h3>
    <hr>
    <form method='POST' class="form-max bg-greysan padding rounded">
    {% csrf_token %}
            <label class="text-light">Activity:</label>
            <input class='form-control' type='text' placeholder='Name of Activity' name='activity'required>
            <label class="text-light" align=top>Description:</label>
            <textarea class='form-control' name='notes' placeholder='Describe Activity in detail' cols=50 rows=5></textarea><br>
    <button class='btn bg-brownish'>Create Activity <i class="fa fa-plus" aria-hidden="true"></i></button>
    </form>
    <br>
    <h4>BRIEFING</h4>
    <p class='text-justify'> You can describe any activity you want to start here and we shall connect you to someone suitable to help you start it while you are away.</p>
    </div>
    </body>
</html>
