{% extends "base.html" %}

{% block sidepanel %}
<div class='customeractivity bg-brown padding rounded'>
<div class='bg-greysan padding rounded'>
<p class='text-center'>CHECK OUR SITE SERVICES</p>
<hr>
<p class='text-justify'>This section provided links to various sister projects that were developed to help people in specific functions within and outside the country. It should be noted that these site or services function independently of UgCon and that is why they have been given their own section. Now, some of these seeem to be dealing in similar items to UgCon but you do not need to worry, they have been proven genuine and worthy a try by our team. The services marked on progress are under development. More services are being added. In case of any special request, you could send your comment under grievances.</p>
</div>
<br><br>
<div class="card-columns">

    {% for service in site_services %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">{{service.title}}</h4>
            <hr>
            <p class="card-text">{{service.describe}}</p><br>
            <a class="btn btn-block btn-secondary disabled" href="{{service.link}}" title="Landbroker">Visit Site</a>
        </div>
      </div>
    {% endfor %}

  
</div>


</div>
{% endblock %}