<!DOCTYPE HTML> {% load static %}
<html lang='en'>

<head>
    <title>Reconna - Do activities in Uganda while outside Uganda </title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styler.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <!--Add in the meta data -->
    <meta name="author" content="Reconna - Remote Activity in Uganda">

</head>

<body style="margin:1px;">

    <div class="bg-mg1" style="height:550px; width:100vw" align=center>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col padding" align="center">
                <br><br>
                <div data-aos="fade-right" style="max-width:450px; background-color:black; padding:10px; border-radius:10px;">
                    <h1 class="text-light text-center"> <img src="{% static 'images/Reconna.png' %}" class="rounded bg-white" width=40 height=40 alt="Reconna logo"> Reconna</h1>
                    <hr color="lightblue">
                    <small class="text-light">Already have an account? Sign in. Without an account? Create one</small><br><br>
                    <div style="display:flex" align=center>
                        <div style="margin: 5px;">
                            <a href="{% url 'register' %}" style="width:140px" class="btn btn-light text-brown>">Create Account</a>
                        </div>
                        <div style="margin:5px;">
                            <a href="{% url 'index' %}" style="width:140px" class="btn btn-light text-brown">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <br><br>
                <div class="bg-greysan rounded padding" style="margin:10px; max-width:450px;">
                    <h6 class="text-center"><strong>Build With Us Your Ugandan Dream</strong></h6>
                    <hr color="white">
                    <small class="text-light"><em> Are you looking for a trustworthy partner to help you do anything within Uganda?</em></small>
                    <p>Many people who send resources like money to someone in Uganda to help them do activities like building a house, starting a business and so on; report cases of misuse or even theft of that money by their 'trusted compatriots'. As a result many people who have dreams decide to first move into Uganda to do these activities only to run out of resources with time and yet they let go of the source of capital when they moved in. This is where Reconna comes in to help any individual do anything within Uganda without necessarily being around. Reconna is a partner you can trust with its self-driven and client intensive approach to help you achieve your Uganda dream remotely.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <section style="margin:10px;">
        <div class="padding">
            <h4 class="text-center text-thick-line text-brown">About Us</h4>
            <br>
            <div align="center">
                <div class="text-justify bg-light bg-white rounded row row-cols-1 row-cols-md-2" style="max-width:950px;letter-spacing:.07px;">
                    <div data-aos="fade-right" class="col brown-shadow padding" style="overflow:hidden; height:350px;">
                        <lottie-player src="{% static 'assets/lotties/29138-lottie-animation.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 300px;" loop autoplay></lottie-player>
                        <small>We are a team built to help you start any commercial activity within Uganda</small>
                    </div>
                    <div data-aos="fade-up" class="col brown-shadow bg-greysan padding">
                        <p>Reconna is a Uganda-based company that is aimed at enabling different individuals outside Uganda to start businesses, buy properties, sell properties or even do any other activities without necessarily being on site within Uganda.
                            We are an organized team of agents from different sectors ranging from business, technology, law and so on. Our work is to receive your activity request, process its requirements as soon as possible, get back to you and start
                            off the activity with transparency, honesty and active involvement of both parties. Reconna strives to ensure that its clients get what they need, the way they need it and at the most appropriate time of delivery. </p>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <br>
        <br>
        <h2 class="text-center text-brown text-thick-line">Services</h2>
        <br>
        <div align="center">
            <lottie-player src="{% static 'assets/lotties/53617-relocation-services.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 450px;" loop autoplay></lottie-player>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" align="center">
            <div data-aos="fade-right" class="col">
                <div class="service shadow-lg bg-greysan rounded b-centric" style="width:200px;height:210px;margin:5px;">
                    <div class="padding">
                        <p class="text-blue"><i class="fa h4 fa-key" aria-hidden="true"></i><br> <strong>Start Anything</strong></p>
                        <small>Choose any activity of your choice that you want to do in Uganda</small>
                    </div>
                </div>
            </div>

            <div data-aos="fade-right" class="col">
                <div class="service shadow-lg bg-greysan rounded b-centric" style="width:200px;height:210px;margin:5px;">
                    <div class="padding">
                        <p class="text-blue"> <i class="fas fa-handshake    "></i> <br> <strong>Get Full Assistance</strong></p>
                        <small>Get help in achieving your choice activity with our well trained and qualified Agents</small>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left" class="col">
                <div class="service shadow-lg bg-greysan rounded b-centric" style="width:200px;height:210px ;margin:5px;">
                    <div class="padding">
                        <p class="text-blue"> <i class="fas fa-running    "></i> <br> <strong>Grow And Monitor</strong></p>
                        <small>Use the provided tools to monitor your activity as it grows to maturity</small>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left" class="col">
                <div class="service shadow-lg bg-greysan rounded b-centric" style="width:200px;height:210px;margin:5px;">
                    <div class="padding">
                        <p class="text-blue"> <i class="fas fa-eye    "></i> <br> <strong>Ugandan View</strong></p>
                        <small>Access articles aimed to help you have a local view on Ugandan businesses and economy.</small>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <h4 class="text-center text-brown text-thick-line">Get Reconna Apps</h4>
        <br>
        <div align="center">
            <lottie-player src="{% static 'assets/lotties/64003-blue.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 450px;" loop autoplay></lottie-player>
        </div>
        <br>
        <!-- Access the apps -->
        <div class="row">
            <div class="col" align=center>
                <a class="text-decoration-none text-dark" href="{% url 'flashcards:apk_download' %}">
                    <div style="width:150px; height:150px; margin:5px;" class="brown-shadow-hover rounded">
                        <br>
                        <strong>Android</strong>
                        <br>
                        <br>
                        <i class="fab h3 fa-google-play    "></i>
                    </div>
                </a>
            </div>
            <div class="col" align=center>
                <a class="text-decoration-none text-dark" href="{% url 'flashcards:apk_download' %}">
                    <div style="width:150px; height:150px; margin:5px;" class="brown-shadow-hover rounded">
                        <br>
                        <strong>iOS (iPhone)</strong>
                        <br>
                        <br>
                        <i class="fab h3 fa-app-store-ios    "></i>
                    </div>
                </a>
            </div>
            <div class="col" align=center>
                <a class="text-decoration-none text-dark" href="{% url 'flashcards:apk_download' %}">
                    <div style="width:150px; height:150px; margin:5px;" class="brown-shadow-hover rounded">
                        <br>
                        <strong>Windows</strong>
                        <br>
                        <br>
                        <i class="fab h3 fa-windows    "></i>
                    </div>
                </a>
            </div>
            <div class="col" align=center>
                <a class="text-decoration-none text-dark" href="{% url 'flashcards:apk_download' %}">
                    <div style="width:150px; height:150px; margin:5px;" class="brown-shadow-hover rounded">
                        <br>
                        <strong>MacBook</strong>
                        <br>
                        <br>
                        <i class="fab h3 fa-app-store    "></i>
                    </div>
                </a>
            </div>
            <div class="col" align=center>
                <a class="text-decoration-none text-dark" href="{% url 'flashcards:apk_download' %}">
                    <div style="width:150px; height:150px; margin:5px;" class="brown-shadow-hover rounded">
                        <br>
                        <strong>Linux</strong>
                        <br>
                        <br>
                        <i class="fab h3 fa-linux    "></i>
                    </div>
                </a>
            </div>
        </div>
        <br><br><br>
        <h5 class="text-thick-line text-center text-brown">Why Us</h5>
        <br>
        <!-- Th reasons to use Reconna Service -->
        <div align=center>
            <br>
            <br>
            <br>
            <div class="text-justify padding brown-shadow 2" style="max-width:950px;letter-spacing:0.7px;">
                <br>
                <div class="row row-cols-1 row-cols-sm-2 border rounded shadow bg-brown" data-aos="fade-left" style="margin:10px;">
                    <div class="col padding" style="max-width:300px">
                        <lottie-player src="{% static 'assets/lotties/35049-data-analyst.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 280px;" loop autoplay></lottie-player>
                    </div>
                    <div class="col">
                        <br>
                        <h6 class="text-brown"> <i class="fas fa-arrow-alt-circle-right    "></i> Transparency And Trust</h6>
                        <p>Reconna is built upon a business model that has been revised in such a manner that cares for the trust in the process of fulfilling its activities. Trust means that the money provided is used in a transparent and satisfactory way.
                            The client also is provided with tools to follow up his or her projects while they are being catered for by our agents</p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 border rounded shadow bg-brown" data-aos="fade-left" style="margin:10px;">
                    <div class="col padding" style="max-width:300px">
                        <lottie-player src="{% static 'assets/lotties/26975-consulting.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 280px;" loop autoplay></lottie-player>
                    </div>
                    <div class="col">
                        <br>
                        <h6 class="text-brown"> <i class="fas fa-arrow-alt-circle-right    "></i> Expertise And Experience</h6>
                        <p>Reconna has its team of agent ready to receive your request. Our Agents are assigned activities to handle basing on their expertise and experience in different fields. With this advantage we can guarantee you that the work will
                            not be shoddy or carelessly done. Aside from that Reconna is actively signing partnerships with company which have experienced people with expert knowledge in different fields.</p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 border rounded shadow bg-brown" data-aos="fade-left" style="margin:10px;">
                    <div class="col padding" style="max-width:300px">
                        <lottie-player src="{% static 'assets/lotties/lf30_editor_n6hphhxq.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 300px;" loop autoplay></lottie-player>
                    </div>
                    <div class="col">
                        <br>
                        <h6 class="text-brown"> <i class="fas fa-arrow-alt-circle-right    "></i> Costs and Money Management</h6>
                        <p>Money is the heart of almost every activity nowadays. Reconna will handle all the money you provide in carefully and with transparency. We also provide you with an account to help you save up your money for any activity when you
                            have started at least one activity with us. </p>
                        <p>Aside from that Reconna aims to make its services as cheap as possible for its clients while at the same time paying off Reconna's clients. </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 border rounded shadow bg-brown" data-aos="fade-left" style="margin:10px;">
                    <div class="col padding" style="max-width:300px; overflow:hidden">
                        <lottie-player src="{% static 'assets/lotties/lf30_editor_y5pt7taz.json' %}" background="#ffffff" speed="1" style=" max-width: 450px; max-height: 300px;" loop autoplay></lottie-player>
                    </div>
                    <div class="col">
                        <br>
                        <h6 class="text-brown"> <i class="fas fa-arrow-alt-circle-right    "></i> Creativity And Improvement</h6>
                        <p>Reconna is constantly adding new services and features as well as improving on those available. We strive to be creative so as to make the whole process as friendly and lively as possible both to our agents and our clients. We</p>
                        <p>We are also receptive of our clients' feedback. You can send us any complaint or request once you open an account with us.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div align=center>
            <br>
            <br>
            <br>
            <h5 class="text-thick-line text-brown">Testimonials</h5>
            <br>
            <!-- The testimonials -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="brown-shadow b-r-10" style="max-width:300px; min-width:250; margin: 5px;">
                        <div>
                            <img src="{% static 'images/man1.jpg' %}" class="rounded-top w-100 fit-image" height=300 alt="">
                        </div>
                        <div class="text-center bg-greysan rounded-bottom">
                            <h5 class="lead text-center">Staff Member</h5>
                            <small class=" box-margin">Mutebi Wilson</small><br>
                            <small class="text-indent">Business StartUp Expert</small><br>
                            <div class="b-centric" style="height: 150px; padding:20px">
                                <small class="text-muted">"After trying various people to help me start something in Uganda; finally the answer is here"</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="brown-shadow b-r-10" style="max-width:300px; min-width:250;margin:5px;">
                        <div>
                            <img src="{% static 'images/woman.jpg' %}" class="rounded-top w-100 fit-image" height=300 alt="">
                        </div>
                        <div class="text-center bg-greysan rounded-bottom">
                            <h5 class="lead text-center">Client</h5>
                            <small class=" box-margin">Musoke Davis</small><br>
                            <small class="text-indent">Software Engineer @ USA</small><br>
                            <div class="b-centric" style="height: 150px; padding:20px">
                                <small class="text-muted">"After trying various people to help me start something in Uganda; finally the answer is here"</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="brown-shadow b-r-10 " style="max-width:300px; min-width:250; margin: 5px;">
                        <div>
                            <img src="{% static 'images/man2.jpg' %}" class="rounded-top w-100 fit-image" height=300 alt="">
                        </div>
                        <div class="text-center bg-greysan rounded-bottom">
                            <h5 class="lead text-center">Client</h5>
                            <small class=" box-margin">Luke Wayaha</small><br>
                            <small class="text-indent">Doctor @ Canada</small><br>
                            <div class="b-centric" style="height: 150px; padding:20px">
                                <small class="text-muted">"After trying various people to help me start something in Uganda; finally the answer is here"</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <h5 class="text-thick-line text-brown">Team</h5>
            <br>
            <!--The team heads-->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="brown-shadow b-r-10" style="max-width:300px; min-width:250;margin: 5px;">
                        <div>
                            <img src="{% static 'images/man1.jpg' %}" class="rounded-top w-100 fit-image" height=300 alt="">
                        </div>
                        <div class="text-center rounded-bottom">
                            <h5 class="text-brown lead text-center">CEO</h5>
                            <small class="text-muted box-margin">Mutebi Wilson</small><br>
                            <small class="text-muted text-indent">Chief Executive Officer</small><br><br>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="brown-shadow b-r-10 " style="max-width:300px; min-width:250; margin: 5px;">
                        <div>
                            <img src="{% static 'images/woman.jpg' %}" class="rounded-top w-100 fit-image" height=300 alt="">
                        </div>
                        <div class="text-center rounded-bottom">
                            <h5 class="text-brown text-center">COO</h5>
                            <small class="text-muted box-margin">Olal Innocent</small><br>
                            <small class="text-muted box-margin">Chief Operations Officer</small><br><br>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="brown-shadow b-r-10" style="max-width:300px; min-width:250;margin: 5px;">
                        <div>
                            <img src="{% static 'images/man2.jpg' %}" class="rounded-top w-100 fit-image" height=300 alt="">
                        </div>
                        <div class="text-center rounded-bottom">
                            <h5 class="text-brown text-center">CFO</h5>
                            <small class="text-muted box-margin">Omodi Christopher</small><br>
                            <small class="text-muted box-margin">Chief Financial Officer</small><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <h5 class="text-thick-line text-brown">Partners</h5>
            <br>
            <!-- List of Partners-->
            <div class="row">
                {% if partners %}
                    {% for partner in partners %}
                    <div class="col" align=center title ='{{partner.notes}}'>
                    <div class="rounded brown-shadow-hover" style="margin:10px ;height:200px;max-width:150px;">
                        <img src="{{partner.logo.url}}" class="rounded fit-image" alt="partner-name" height=150 width=150><br><br>
                        <strong class=" text-decoration-none text-brown" href="">{{partner.name}}</strong>
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                <a href="mailto:ugconntech@gmail.com" class="btn bg-greysan">Become A partner</a>
                {% endif %}
            </div>

        </div>
        </div>
        <br><br>
    </section>
    <br><br><br>
    <!--Footer Section-->
    <footer class="bg-greysan" style="min-height:400px;">
        <br><br>
        <p class="text-center"><i class="fa fa-copyright" aria-hidden="true"></i> copyright Reconna 2021</p>
        <div class="row row-cols-1 row-cols-sm-2" align=center>
            <div class="col border-right border-white">
                <br>
                <div style="min-width:300px;max-width:450px">
                    <h6>
                        Reconna<br>
                        <small>Start and Do anything is Uganda</small>
                    </h6>
                    <hr color="white">
                    <small>Reconna is the best company to help anyone in diaspora to start anything like an investment venture or any other activity within Uganda. We build your Ugandan dream and bring in to life with our experience and expertise</small><br><br>
                    <small><strong>Physical Address:</strong><br> Along Sir Apollo Kaggwa Road, Kikoni, Makerere, Uganda</small>
                </div>

            </div>
            <div class="col">
                <br>
                <small>You can send us your email on <a href="text-light">Reconnatech@gmail.com</a> </small><br><br>
                <small><u>Contact Us On the Following Platforms</u></small><br>
                <div align=left style="max-width:350px;">
                    <a class="text-decoration-none" href=""> <i class="fab fa-facebook  text-white  "></i> &nbsp Facebook </a><br>
                    <a class="text-decoration-none" href=""> <i class="fab fa-twitter text-white   "></i> &nbsp Twitter </a><br>
                    <a class="text-decoration-none" href=""> <i class="fab fa-linkedin  text-white  "></i> &nbsp LinkedIn </a><br>
                    <a class="text-decoration-none" href=""> <i class="fab fa-youtube  text-white   "></i> &nbsp Youtube </a><br>
                    <a class="text-decoration-none" href=""> <i class="fab fa-instagram   text-white "></i> &nbsp Instagram </a><br>
                </div>

            </div>
        </div>
        <br><br><br>
    </footer>


    <script type="text/javascript" src="{% static 'js/fontawesome/all.min.js' %}"></script>
    <script type='text/javascript' src={% static 'js/jquery-3.5.1.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/popper/popper.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/glm-ajax.js' %}></script>
    <script type='text/javascript' src={% static 'js/bootstrap.min.js' %}></script>
    <script type='text/javascript' src="{% static 'js/aos.js' %}"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 1000,
        });
    </script>
</body>

</html>